@import "./variables.scss";
@mixin button() {
    display: inline-block;
    box-sizing: border-box;
    font-size: px2rem(30);
    height: px2rem(60);
    line-height: px2rem(60);
    text-align: center;
    border-radius: px2rem(6);
    width: px2rem(140);
    color: #fff;
    background: $v-blue;
    border: 1px solid $v-blue;
}

.v-button {
    @include button();
}

.v-button.primary {
    background: $v-blue;
    border: 1px solid $v-blue;
}

.v-button.danger {
    background: $v-red;
    border: 1px solid $v-red;
}

.v-button.warning {
    background: $v-yellow;
    border: 1px solid $v-yellow;
}

.v-button.disabled {
    background: $v-gray;
    border: 1px solid $v-gray;
}

.v-button.small {
    width: px2rem(100);
}

.v-button.normal {
    width: px2rem(140);
}

.v-button.large {
    width: px2rem(160);
}

.v-button.auto {
    width: 100%;
}

.v-button.plain {
    background-color: #fff;
    color: $v-blue;
    border: 1px solid $v-blue;
}

.v-button.plain.primary {
    color: $v-blue;
    border: 1px solid $v-blue;
}

.v-button.plain.danger {
    color: $v-red;
    border: 1px solid $v-red;
}

.v-button.plain.warning {
    color: $v-yellow;
    border: 1px solid $v-yellow;
}

.v-button.round {
    width: px2rem(300);
    height: px2rem(70);
    line-height: px2rem(70);
    border-radius: px2rem(35);
    font-size: px2rem(32);
}

.v-button.large-round {
    width: px2rem(610);
    height: px2rem(88);
    line-height: px2rem(88);
    border-radius: px2rem(44);
    font-size: px2rem(36);
}