@import './mixin.scss';
@import './variables.scss';
@import './vant_ui.scss';

body {
    font-family: "PingFang SC";
    background: #fff;
    color: #333333;
    // line-height: 1;
}

// 清除浮动
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
//灰色背景
.gray-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f1f1f1;
    z-index: -1;
  }