@import './variables.scss';
// tab切换的样式
.van-tabs {
    div.van-tabs__line {
        background-color: $v_blue;
    }
    div.van-tab {
        color: #393939;
        font-size: px2rem(32);
    }
    div.van-tab--active {
        color: $v_blue;
    }
}

//提示弹窗修改
.change-dialog-popup-default.van-popup {
    border-radius: px2rem(12);
}